# Pyrometer
pywin32

# Beam Profiling Camera via wxPython
wxPython==4.0.4
comtypes==1.1.7

# Beam Profiling Camera via PyQt
#PySide6
#PyQt6==6.5.0
#PyQt6-Qt6==6.5.0
# PyQt6-Qt6 version can desync from main PyQt6 and cause problems, so both are specified here.