# Pyrometer
pywin32

# Beam Profiling Camera via wxPython
#wxPython
#comtypes

# Beam Profiling Camera via PyQt
#PySide6
#PyQt6==6.5.0
#PyQt6-Qt6==6.5.0
# PyQt6-Qt6 version can desync from main PyQt6 and cause problems, so both are specified here.