## requirements that work with pip v23.1.2
numpy
pandas
glob2
freeopcua
matplotlib
pyside2
apscheduler
PyQt5
plotly
kaleido
pyinstaller
cryptography

# Pyrometer
pywin32

# Beam Profiling Camera via wxPython
wxPython==4.0.4
pypng

# S3 Access
urllib3<2.0 # urllib3>=2.0 requires OpenSSL>=1.1.1, which is incompatible with python==3.7
minio