## requirements that work with pip v23.1.2
numpy
pandas
glob2
freeopcua
matplotlib
pyside2
apscheduler
PyQt5
plotly
kaleido
pyinstaller
cryptography

# Pyrometer
pywin32

# Beam Profiling Camera via wxPython
wxPython==4.0.4
pypng